body{
    color:darkgray;
    background-color: #1d1d1d;
    font-family: "Rationale", sans-serif;
    width: 640px;
    margin: 0 auto;
}

div{
    color: rgb(253, 157, 157);
    background-color: #1d1d1d;
}

.thumb{
    width: 20%;
    height: auto;
}
.home{
    color:rgb(255, 255, 255)
}

.nothome{
    color:pink
}

#title{
    color:rgb(228, 228, 255);
    font-size: larger;
}

.blog{
    padding: 2em;
    margin: 0.5em;
    display:flex;
    justify-content:space-around;
    flex-direction: column;
}

.home>h1{
    text-align: center;
}